# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHONKY_BOIS_LEFT || SHIELD_CHONKY_BOIS_RIGHT || SHIELD_CHONKY_BOIS_DONGLE

config ZMK_SPLIT
    default y

endif # SHIELD_CHONKY_BOIS_LEFT || SHIELD_CHONKY_BOIS_RIGHT || SHIELD_CHONKY_BOIS_DONGLE


if SHIELD_CHONKY_BOIS_DONGLE || SHIELD_CHONKY_BOIS_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CHONKY_BOIS_LEFT || SHIELD_CHONKY_BOIS_DONGLE
