#define UC_RU_A_LOWER      0x0430  // а
#define UC_RU_B_LOWER      0x0431  // б
#define UC_RU_V_LOWER      0x0432  // в
#define UC_RU_G_LOWER      0x0433  // г
#define UC_RU_D_LOWER      0x0434  // д
#define UC_RU_YE_LOWER     0x0435  // е
#define UC_RU_YO_LOWER     0x0451  // ё
#define UC_RU_ZH_LOWER     0x0436  // ж
#define UC_RU_Z_LOWER      0x0437  // з
#define UC_RU_I_LOWER      0x0438  // и
#define UC_RU_Y_LOWER      0x0439  // й
#define UC_RU_K_LOWER      0x043a  // к
#define UC_RU_L_LOWER      0x043b  // л
#define UC_RU_M_LOWER      0x043c  // м
#define UC_RU_N_LOWER      0x043d  // н
#define UC_RU_O_LOWER      0x043e  // о
#define UC_RU_P_LOWER      0x043f  // п
#define UC_RU_R_LOWER      0x0440  // р
#define UC_RU_S_LOWER      0x0441  // с
#define UC_RU_T_LOWER      0x0442  // т
#define UC_RU_U_LOWER      0x0443  // у
#define UC_RU_F_LOWER      0x0444  // ф
#define UC_RU_KH_LOWER     0x0445  // х
#define UC_RU_TS_LOWER     0x0446  // ц
#define UC_RU_CH_LOWER     0x0447  // ч
#define UC_RU_SH_LOWER     0x0448  // ш
#define UC_RU_SHCH_LOWER   0x0449  // щ
#define UC_RU_HARD_LOWER   0x044a  // ъ
#define UC_RU_BI_LOWER     0x044b  // ы
#define UC_RU_SOFT_LOWER   0x044c  // ь
#define UC_RU_E_LOWER      0x044d  // э
#define UC_RU_YU_LOWER     0x044e  // ю
#define UC_RU_YA_LOWER     0x044f  // я

#define UC_RU_A_UPPER      0x0410  // А
#define UC_RU_B_UPPER      0x0411  // Б
#define UC_RU_V_UPPER      0x0412  // В
#define UC_RU_G_UPPER      0x0413  // Г
#define UC_RU_D_UPPER      0x0414  // Д
#define UC_RU_YE_UPPER     0x0415  // Е
#define UC_RU_YO_UPPER     0x0401  // Ё
#define UC_RU_ZH_UPPER     0x0416  // Ж
#define UC_RU_Z_UPPER      0x0417  // З
#define UC_RU_I_UPPER      0x0418  // И
#define UC_RU_Y_UPPER      0x0419  // Й
#define UC_RU_K_UPPER      0x041a  // К
#define UC_RU_L_UPPER      0x041b  // Л
#define UC_RU_M_UPPER      0x041c  // М
#define UC_RU_N_UPPER      0x041d  // Н
#define UC_RU_O_UPPER      0x041e  // О
#define UC_RU_P_UPPER      0x041f  // П
#define UC_RU_R_UPPER      0x0420  // Р
#define UC_RU_S_UPPER      0x0421  // С
#define UC_RU_T_UPPER      0x0422  // Т
#define UC_RU_U_UPPER      0x0423  // У
#define UC_RU_F_UPPER      0x0424  // Ф
#define UC_RU_KH_UPPER     0x0425  // Х
#define UC_RU_TS_UPPER     0x0426  // Ц
#define UC_RU_CH_UPPER     0x0427  // Ч
#define UC_RU_SH_UPPER     0x0428  // Ш
#define UC_RU_SHCH_UPPER   0x0429  // Щ
#define UC_RU_HARD_UPPER   0x042a  // Ъ
#define UC_RU_BI_UPPER     0x042b  // Ы
#define UC_RU_SOFT_UPPER   0x042c  // Ь
#define UC_RU_E_UPPER      0x042d  // Э
#define UC_RU_YU_UPPER     0x042e  // Ю
#define UC_RU_YA_UPPER     0x042f  // Я
