# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ENKI_LEFT
	def_bool $(shields_list_contains,enki_left)

config SHIELD_ENKI_RIGHT
	def_bool $(shields_list_contains,enki_right)

config SHIELD_ENKI_DONGLE
    def_bool $(shields_list_contains,enki_dongle)